<!-- 
<h1>THis is my forst Angular Project - {{ title }}</h1>
<p>{{ name }}</p>
<button disabled="{{ isDisbled }}" (click)="handleClick()">Click me</button>


<button [disabled]="isDisbled" (click)="handleClick()">Click me</button>


<button
  [style.backgroundColor]="isDanger ? 'red' : 'green'"
  [style.color]="isDanger ? 'black' : 'white'"
  [style.padding]="isDanger ? '10px' : '20px'"
>
  See More
</button>

<h1 [class.is-danger]="isDanger" [class.is-success]="!isDanger">Hello GUys</h1>


<button (click)="handleAddToCart()">Add TO Cart</button>

<p>{{ message }}</p>

<input type="text" (keyup)="handleKeyUp($event)" />

<p>{{ msg }}</p>

<p>Example of one way data binding</p>
<input type="text" [value]="todo" (keyup)="handleTodo()" /> -->

<!-- component -->

<!-- <div class="bg-gray-100">
  <app-header></app-header>

  <p>{{ messageFromChild }}</p>
  <app-child
    [childMessage]="title"
    [secondChild]="'this is second child'"
    (messageEvent)="receiveData($event)"
  ></app-child>

  <app-footer></app-footer>
</div> -->

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
