<div class="bg-white">
  <div class="flex justify-between items-center py-28 px-5">
    <div class="w-1/2">
      <h2 class="text-5xl font-semibold text-gray-800">Fideliza Más</h2>
      <h3 class="text-xl font-semibold text-gray-600 mt-4">
        ¡Únete a nuestro programa de lealtad y obtén increíbles recompensas!
      </h3>
      <p class="text-gray-600 mt-4">
        Nuestro programa de fidelización está diseñado para recompensar a
        nuestros clientes más fieles. Obtén puntos con cada compra y canjéalos
        por descuentos exclusivos, regalos especiales y experiencias únicas.
      </p>
    </div>
    <div class="w-1/2">
      <img
        src="https://www.emprenderconactitud.com/img/fidelizamas.png"
        alt="Imagen relacionada con el programa de fidelización"
        class="w-full h-auto"
      />
    </div>
  </div>
</div>

<app-mission></app-mission>

<app-section4></app-section4>

<app-section5></app-section5>

<app-section6></app-section6>

<app-todolist></app-todolist>
